@font-face {
  font-family: 'EuclidCircularA-Light';
  src: url('fonts/EuclidCircularA-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'EuclidCircularA-Regular';
  src: url('fonts/EuclidCircularA-Regular.ttf') format('truetype');
}

$primary-font: 'EuclidCircularA-Regular', sans-serif;
$secondary-font: 'EuclidCircularA-Light', sans-serif;
$primary-color: #212121;
$primary-width: 1150px;
$seconadry-width: 916px;
$primary-weight: 300;
$primary-fontSize: 72px;
$primary-background: #fbfbfb;
$primary-border: 1px solid #212121;
$primary-transition: all 0.3s ease;

* {
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-size: 16px;
}

body {
  margin: 0;
  color: $primary-color;
  font-family: $primary-font;
  letter-spacing: 0.1px;
  background-color: $primary-background;
}
.clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}
h1 {
  margin-bottom: 31px;
  max-width: $primary-width;
  position: relative;
  left: -1px;
  top: 1px;
  font-family: $secondary-font;
  font-size: 125px;
  font-weight: $primary-weight;
  text-transform: uppercase;
  line-height: 1;
}
h2 {
  margin: 0 0 27px -7px;
  font-family: $secondary-font;
  font-size: $primary-fontSize;
  font-weight: $primary-weight;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 0.8;
}
a,
button {
  cursor: url("data:image/svg+xml,%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.86492 17.1897C4.46031 16.6503 4.05571 15.7062 3.24649 14.4924C2.84189 13.818 1.62807 12.4693 1.22346 11.9299C0.953721 11.3904 0.95372 11.1206 1.08859 10.5812C1.22346 9.77195 2.03267 9.0976 2.97675 9.0976C3.6511 9.0976 4.32544 9.63708 4.86492 10.0417C5.13466 10.3114 5.53927 10.8509 5.809 11.1206C6.07874 11.3904 6.07874 11.5252 6.34848 11.795C6.61822 12.1996 6.75309 12.4693 6.61822 11.9299C6.48335 11.2555 6.34848 10.1766 6.07874 9.0976C5.94387 8.28839 5.809 8.15352 5.67413 7.61404C5.53926 6.9397 5.4044 6.53509 5.26953 5.86075C5.13466 5.45614 4.99979 4.37719 4.86492 3.83771C4.73005 3.16337 4.73005 1.94955 5.26953 1.41007C5.67413 1.00546 6.48335 0.870596 7.02282 1.14033C7.69717 1.54494 8.10178 2.48902 8.23664 2.89363C8.50638 3.56798 8.77612 4.51206 8.91099 5.59101C9.18073 6.9397 9.58533 8.96273 9.58533 9.36734C9.58533 8.82787 9.45047 7.88378 9.58533 7.34431C9.7202 6.9397 9.98994 6.40022 10.5294 6.26535C10.934 6.13049 11.3386 6.13049 11.7432 6.13049C12.1478 6.26535 12.5525 6.53509 12.8222 6.80483C13.3617 7.61404 13.3617 9.36734 13.3617 9.23247C13.4965 8.693 13.4965 7.61404 13.7663 7.07457C13.9011 6.80483 14.4406 6.53509 14.7104 6.40022C15.115 6.26535 15.6544 6.26535 16.059 6.40022C16.3288 6.40022 16.8683 6.80483 17.0031 7.07457C17.2729 7.47918 17.4077 8.82787 17.5426 9.36734C17.5426 9.50221 17.6775 8.82786 17.9472 8.42326C18.4867 7.61404 20.3749 7.34431 20.5097 9.23247C20.5097 10.1766 20.5097 10.0417 20.5097 10.716C20.5097 11.3904 20.5097 11.795 20.5097 12.3345C20.5097 12.8739 20.3749 14.0878 20.24 14.6272C20.1051 15.0318 19.7005 15.9759 19.2959 16.5154C19.2959 16.5154 17.8123 18.1338 17.6775 18.943C17.5426 19.7523 17.5426 19.7523 17.5426 20.2917C17.5426 20.8312 17.6775 21.5055 17.6775 21.5055C17.6775 21.5055 16.5985 21.6404 16.059 21.5055C15.5196 21.3707 14.8452 20.4266 14.7104 20.022C14.4406 19.6174 14.036 19.6174 13.7663 20.022C13.4965 20.5615 12.8222 21.5055 12.2827 21.5055C11.3386 21.6404 9.45047 21.5055 8.10178 21.5055C8.10178 21.5055 8.37151 20.1569 7.83204 19.6174C7.42743 19.2128 6.75309 18.5384 6.34848 18.1338L4.86492 17.1897Z' fill='%23FBFBFB'/%3E%3Cpath d='M4.86492 17.1897C4.46031 16.6503 4.05571 15.7062 3.24649 14.4924C2.84189 13.818 1.62807 12.4693 1.22346 11.9299C0.953721 11.3904 0.95372 11.1206 1.08859 10.5812C1.22346 9.77195 2.03267 9.0976 2.97675 9.0976C3.6511 9.0976 4.32544 9.63708 4.86492 10.0417C5.13466 10.3114 5.53926 10.8509 5.809 11.1206C6.07874 11.3904 6.07874 11.5252 6.34848 11.795C6.61822 12.1996 6.75309 12.4693 6.61822 11.9299C6.48335 11.2555 6.34848 10.1766 6.07874 9.0976C5.94387 8.28839 5.809 8.15352 5.67413 7.61404C5.53926 6.9397 5.4044 6.53509 5.26953 5.86075C5.13466 5.45614 4.99979 4.37719 4.86492 3.83771C4.73005 3.16337 4.73005 1.94955 5.26953 1.41007C5.67413 1.00546 6.48335 0.870596 7.02282 1.14033C7.69717 1.54494 8.10178 2.48902 8.23664 2.89363C8.50638 3.56798 8.77612 4.51206 8.91099 5.59101C9.18073 6.9397 9.58533 8.96273 9.58533 9.36734C9.58533 8.82787 9.45047 7.88378 9.58533 7.34431C9.7202 6.9397 9.98994 6.40022 10.5294 6.26535C10.934 6.13049 11.3386 6.13049 11.7432 6.13049C12.1478 6.26535 12.5525 6.53509 12.8222 6.80483C13.3617 7.61404 13.3617 9.36734 13.3617 9.23247C13.4965 8.693 13.4965 7.61404 13.7663 7.07457C13.9011 6.80483 14.4406 6.53509 14.7104 6.40022C15.115 6.26535 15.6544 6.26535 16.059 6.40022C16.3288 6.40022 16.8683 6.80483 17.0031 7.07457C17.2729 7.47917 17.4077 8.82787 17.5426 9.36734C17.5426 9.50221 17.6775 8.82786 17.9472 8.42326C18.4867 7.61404 20.3749 7.34431 20.5097 9.23247C20.5097 10.1766 20.5097 10.0417 20.5097 10.716C20.5097 11.3904 20.5097 11.795 20.5097 12.3345C20.5097 12.8739 20.3749 14.0878 20.24 14.6272C20.1051 15.0318 19.7005 15.9759 19.2959 16.5154C19.2959 16.5154 17.8123 18.1338 17.6775 18.943C17.5426 19.7523 17.5426 19.7523 17.5426 20.2917C17.5426 20.8312 17.6775 21.5055 17.6775 21.5055C17.6775 21.5055 16.5985 21.6404 16.059 21.5055C15.5196 21.3707 14.8452 20.4266 14.7104 20.022C14.4406 19.6174 14.036 19.6174 13.7663 20.022C13.4965 20.5615 12.8222 21.5055 12.2827 21.5055C11.3386 21.6404 9.45046 21.5055 8.10178 21.5055C8.10178 21.5055 8.37151 20.1569 7.83204 19.6174C7.42743 19.2128 6.75309 18.5384 6.34848 18.1338L4.86492 17.1897Z' stroke='%23212121' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.0604 12.5005C16.3398 12.5005 16.5662 12.727 16.5662 13.0063V17.5919C16.5662 17.8712 16.3398 18.0976 16.0604 18.0976C15.7811 18.0976 15.5547 17.8712 15.5547 17.5919V13.0063C15.5547 12.727 15.7811 12.5005 16.0604 12.5005Z' fill='%23212121'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.2116 12.5008C13.4908 12.4926 13.7238 12.7122 13.732 12.9914L13.8669 17.577C13.8751 17.8562 13.6554 18.0892 13.3762 18.0974C13.097 18.1056 12.864 17.8859 12.8558 17.6067L12.7209 13.0212C12.7127 12.742 12.9324 12.509 13.2116 12.5008Z' fill='%23212121'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6659 12.5005C10.9452 12.5005 11.1717 12.727 11.1717 13.0063V17.5919C11.1717 17.8712 10.9452 18.0976 10.6659 18.0976C10.3866 18.0976 10.1602 17.8712 10.1602 17.5919V13.0063C10.1602 12.727 10.3866 12.5005 10.6659 12.5005Z' fill='%23212121'/%3E%3C/svg%3E%0A")
      2 2,
    pointer;
}
a {
  position: relative;
  color: $primary-color;
  text-transform: uppercase;
  text-decoration: none;

  &:not(.multi-line):after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $primary-color;
    transition: $primary-transition;
  }

  &:not(.animate-start):not(.prject-item-link):hover:after,
  &.active:after {
    width: 100%;
  }
}

.lazy {
  position: relative;
  top: 20px;
  opacity: 0;
  transition: opacity 2s, top 1s;
}
.lazy.loaded {
  top: 0;
  opacity: 1;
}
.main-img-wrapper {
  max-height: 741px;
  overflow: hidden;
}
.main-img {
  width: 100%;
}
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary-background;
  transition: $primary-transition;
  z-index: 10;
}
.sticky-header.out {
  transform: translateY(-100%);
}
.video {
  max-height: 741px;
  object-fit: cover;
  background-size: cover;
}
.logo {
  max-width: 23px;
  max-height: 21px;

  &-wrapper {
    margin: 16px 0 15px;
    width: 39px;
    height: 41px;
    display: flex;
    align-items: center;
    float: left;

    & a:after {
      display: none;
    }
  }
}
.main-content {
  margin-top: 90px;

  &.error-content {
    margin-top: 212px;
  }
}

.projects-top {
  margin-top: 195px;
  display: flex;

  & h1 {
    margin-bottom: 152px;
    width: $seconadry-width;
  }
}
.h1 {
  left: -4px;
  letter-spacing: 0;
}
.left {
  display: flex;
  justify-content: flex-start;
}
.right {
  display: flex;
  justify-content: flex-end;
}
.container {
  position: relative;
  padding-left: 28px;
  padding-right: 28px;
}
.menu {
  margin-top: 24px;
  display: flex;

  &-item {
    margin-left: 64px;
  }

  & a {
    letter-spacing: -0.1px;
  }
}
#menu-toggle {
  display: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background: url("data:image/svg+xml,%3Csvg width='30' height='12' viewBox='0 0 30 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1' x2='30' y2='1' stroke='black' stroke-width='2'/%3E%3Cline y1='11' x2='30' y2='11' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A") center no-repeat;
  border: none;
  float: right;

  &.active {
    background: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.29289' y1='22.2929' x2='22.5061' y2='1.07969' stroke='black' stroke-width='2'/%3E%3Cline x1='2.70711' y1='1.29289' x2='23.9203' y2='22.5061' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A") center no-repeat;
  }
}
.link-btn {
  padding: 0;
  text-transform: uppercase;
  background: none;
  border: none;
}
#lang {
  position: relative;

  &-list {
    padding: 5px 5px 0;
    display: none;
    width: 100%;
    position: absolute;
    left: -5px;
    top: 100%;
    list-style: none;
    background-color: #fbfbfb;
  }

  &:hover &-list {
    display: initial;
  }
}
.lang-item {
  margin-bottom: 5px;

  &.disabled {
    display: none;
  }
}
.angle-svg {
  margin: 0 2px 0 1px;
  position: relative;
  bottom: 3px;
}
.main-block {
  margin-bottom: 245px;
}
.description {
  font-family: $secondary-font;
  font-size: 29px;
  letter-spacing: 0;
  line-height: 44px;
}
.large-text {
  margin-top: 25px;
  padding-right: 50px;
  width: $primary-width;
}
.hint {
  margin-top: 10px;
  width: 295px;
  position: absolute;
  top: 100%;
  left: 0;
  text-transform: uppercase;
}
.filter {
  &-list {
    margin: 17px 0 0 20px;
  }

  &-item {
    margin-bottom: 10px;
  }
}
.project {
  &-list {
    margin-bottom: 220px;
  }
  &-item {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 250px;
    }
    &:nth-child(odd) {
      align-items: flex-end;
    }
    &:nth-child(even) {
      align-items: flex-start;
    }

    & .project-item-inner .tag-wrapper {
      max-width: $primary-width;
      height: 690px;
      overflow: hidden;

      & > img {
        height: 100%;
        object-fit: cover;
      }
    }

    &:nth-child(4n + 2),
    &:nth-child(4n + 3) {
      & .project-item-inner .tag-wrapper {
        max-width: 1033px;
        height: 620px;
      }
    }

    &-top,
    &-bottom {
      display: flex;
      justify-content: space-between;
    }

    &-bottom {
      margin-top: 10px;
    }
  }
  &-dates {
    position: relative;
    top: -1px;
  }
}
.tag {
  &-wrapper {
    position: relative;
  }

  &-list {
    padding-bottom: 50px;
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    flex-wrap: wrap;
    opacity: 0;
    transition: $primary-transition;
    pointer-events: none;
  }

  &-item {
    margin: 5px 30px 0 0;
    padding: 8px 9px;
    font-family: $primary-font;
    font-size: 14px;
    text-transform: initial;
    background-color: rgba(251, 251, 251, 0.7);
    border-radius: 3px;
  }
}
.projects-content {
  & .project-ladder {
    margin-bottom: 277px;
  }
}
.one-project {
  & h1 {
    letter-spacing: -0.4px;
  }

  & .tag {
    &-wrapper {
      margin-bottom: 104px;

      & > img {
        width: 100%;
      }
    }
    &-list {
      opacity: 1;
    }
  }
}
.prject-item-link:hover .tag-list {
  opacity: 1;
}
.block-title {
  display: block;
  position: relative;
  letter-spacing: 0.05px;
  line-height: 24px;
  text-transform: uppercase;

  & > span {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $primary-color;
      transition: $primary-transition;
    }
  }
}
.multi-line > span > span {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $primary-color;
    transition: $primary-transition;
  }
}
.multi-line:hover > span > span:after {
  width: 100%;
}
.prject-item-link .block-title {
  max-width: 75%;
}

.prject-item-link:hover .block-title > span:after {
  width: 100%;
}

.animate {
  &-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-start {
    position: relative;
    z-index: 1;
  }
}
.animated {
  display: none;
  position: absolute;
}
.animate {
  &-1 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &-2 {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  &-3 {
    right: -18px;
    bottom: 50%;
    transform: translateY(50%);
  }
  &-4 {
    top: 100%;
    left: 0;
  }
}
.animate-wrapper:not(.service-toggler) .animated:not([class*='animate-']) {
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}
.all-projects {
  margin-top: 99px;
}
.service {
  &-wrapper {
    margin-top: 99px;
    width: $primary-width;
  }

  &-block {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  }

  &-title {
    font-family: $secondary-font;
    text-transform: uppercase;
  }

  &-trigger {
    &-list {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-item {
      margin-bottom: 24px;
    }
  }

  &-toggler {
    font-family: $secondary-font;
    font-size: $primary-fontSize;
    letter-spacing: -0.6px;

    & > span {
      position: relative;
      z-index: 1;
    }

    & .animated {
      left: -23px;
      top: -5px;
      width: 105%;
    }
  }

  &-desc {
    display: none;
    padding-top: 24px;
    position: absolute;
    top: 0;
    right: 0;
    width: 39%;

    &-text {
      margin-bottom: 20px;
      letter-spacing: 0;
      line-height: 21px;
    }

    &-list {
      margin-bottom: 50px;
    }

    &-item {
      margin-bottom: 10px;
      letter-spacing: 0.05px;
    }
  }

  &-img {
    &-wrapper {
      position: relative;
      max-width: calc(100% - 118px);
      float: left;
    }

    &-animated {
      top: 39px;
      left: calc(100% - 54px);
    }
  }

  &-section:not(:first-child) {
    margin-top: 74px;
  }
}
.lazy.loaded .service-img-animated path {
  transition: stroke-dashoffset 0.8s ease-in-out;
  stroke-dashoffset: 0 !important;
}
.services {
  margin-bottom: 279px;

  & h1 {
    margin-bottom: 22px;
  }

  & h2 {
    margin: 0 0 28px;
    letter-spacing: -0.5px;
  }

  & .large-text {
    margin-top: 0;
    padding-right: 117px;
  }

  & .block-title {
    line-height: 16px;
  }

  & .text-block {
    padding-right: 115px;

    & p {
      margin-top: 14px;
      line-height: 21px;
      letter-spacing: 0;
    }
  }
}
.sticky {
  &-wrapper {
    &:first-child {
      margin-top: 169px;
    }

    &:not(:last-child) {
      margin-bottom: 207px;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      & .sticky-block {
        padding-left: 2px;
      }

      .service-img-wrapper {
        left: -2px;
      }
    }
  }

  &-block {
    position: sticky;
    top: 85px;

    & .text-block {
      margin-bottom: 20px;
    }
  }
}
footer {
  margin-top: 216px;
  padding-bottom: 24px;

  & .description {
    margin-top: 0;
    padding-right: 0;
    max-width: 451px;
  }

  & .logo {
    position: relative;
    bottom: 1px;
  }
}
.about-us-content + footer {
  margin-top: 209px;
}
.error-content + footer {
  margin-top: 273px;
}
.projects-content + footer {
  margin-top: 276px;
}
.footer {
  &-top,
  &-bottom {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
  }

  &-bottom {
    align-items: flex-end;
  }

  &-top {
    margin-bottom: 194px;
  }

  &-left,
  &-right {
    padding: 0 10px;
    width: 50%;
  }

  &-right {
    position: relative;
    top: -1px;
    display: flex;
    flex-wrap: wrap;
  }

  &-items-full {
    margin-bottom: 36px;
    width: 100%;
    max-width: 509px;
    text-transform: uppercase;

    @media (max-width: 991px) {
      margin: 15px 0 0;
    }
  }

  &-items-wrapper {
    width: 50%;
    text-transform: uppercase;

    &:last-child {
      margin-left: 26px;
      width: calc(50% - 26px);
    }
  }
}
.input-wrapper {
  margin-top: 18px;
  position: relative;
  width: 447px;
}
.contact {
  &-input {
    padding: 27px 140px 27px 15px;
    width: 100%;
    text-transform: uppercase;
    background-color: $primary-background;
    border: $primary-border;
  }

  &-submit {
    padding: 0 15px 0 0;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    font-family: $secondary-font;
    text-transform: uppercase;
    background: none;
    border: none;

    &:after {
      content: '';
      width: 0;
      height: 1px;
      background-color: $primary-color;
    }

    &:hover .text-style:after {
      width: calc(100% - 17px);
    }
  }
}
.text-style {
  position: relative;
  font-family: $primary-font;
  letter-spacing: 0.1px;

  &:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 17px;
    width: 0;
    height: 1px;
    background-color: $primary-color;
    transition: $primary-transition;
  }
}
.text-block {
  & p:not(:first-child) {
    margin-top: 10px;
  }
}
.process-desc {
  &-wrapper {
    width: 331px;

    & .block-title {
      margin-bottom: 10px;
    }
  }
}
.text {
  letter-spacing: 0;
  line-height: 21px;

  &-block {
    & p {
      margin-top: 8px;

      &:not(:first-child) {
        margin-top: 21px;
      }
    }
  }
}
.project {
  &-info {
    margin-bottom: 200px;

    &-text {
      max-width: 565px;
    }
  }

  &-about {
    display: flex;
    flex-wrap: wrap;

    &-block {
      margin-bottom: 26px;
      padding-right: 20px;
      width: 50%;

      &:nth-child(even) {
        padding-left: 10px;
      }

      & p {
        margin-top: 5px;
        letter-spacing: 0;
      }
    }
  }

  &-section {
    margin-bottom: 200px;
  }
}
.project {
  &-ladder {
    margin-bottom: 200px;
  }

  &-block {
    margin-bottom: 100px;
    display: flex;

    &.width-text .project-img-wrapper {
      max-width: 1033px;
    }

    @media (min-width: 768px) {
      &.block-right {
        justify-content: space-between;

        .process-desc-wrapper {
          margin-right: 20px;
        }
      }

      &.block-left {
        .process-desc-wrapper {
          margin-left: 137px;
          order: 2;
        }
      }

      &.block-center {
        flex-direction: column;

        .process-desc-wrapper {
          margin-bottom: 109px;
        }

        .project-img-wrapper {
          align-self: center;
        }
      }
    }

    @media (max-width: 1439px) and (min-width: 768px) {
      &.block-left {
        .process-desc-wrapper {
          margin-left: 20px;
        }
      }

      &.block-center {
        flex-direction: column;

        .process-desc-wrapper {
          margin-bottom: 20px;
        }
      }
    }

    @media (max-width: 767px) {
      flex-direction: column;

      .process-desc-wrapper {
        width: 100%;
        order: 0;
      }

      &.block-right {
        .project-img-wrapper {
          align-self: flex-end;
        }
      }

      &.block-center {
        .project-img-wrapper {
          align-self: center;
        }
      }
    }

    // &:nth-child(7n + 1),
    // &:nth-child(7n + 3),
    // &:nth-child(7n + 5) {
    //   & .process-desc-wrapper {
    //     margin: 0 auto 0 0;
    //     width: 468px;
    //     padding-right: 137px;
    //   }
    // }

    // &:nth-child(7n + 2),
    // &:nth-child(7n + 4),
    // &:nth-child(7n + 6) {
    //   flex-direction: row-reverse;

    //   & .process-desc-wrapper {
    //     margin-left: 137px;
    //   }
    // }

    // &:nth-child(7n + 7) {
    //   justify-content: center;
    // }

    // &:not(:first-child).new-section {
    //   margin-top: 200px;
    // }
  }
}
.projects-content {
  & .project {
    &-block {
      flex-direction: row;
      justify-content: flex-start;

      & .tag-wrapper {
        // width: 916px;
        height: 670px;
        overflow: hidden;
        display: flex;
        justify-content: center;

        & > img {
          object-fit: cover;
          width: auto;
          height: 100%;
        }
      }

      &:nth-child(8n + 2),
      &:nth-child(8n + 5),
      &:nth-child(8n + 7) {
        justify-content: flex-end;
      }

      &:nth-child(8n + 3),
      &:nth-child(8n + 9) {
        justify-content: center;
      }

      &:nth-child(6n + 2),
      &:nth-child(6n + 4) {
        & .tag-wrapper {
          // width: 448px;
          height: 670px;
        }
      }
    }
  }
}
.review {
  margin-bottom: 100px;
  max-width: 331px;

  & blockquote {
    margin-top: 10px;
    letter-spacing: 0;
    line-height: 21px;
  }
}
.cite {
  position: relative;
  left: -1px;
}
.next-project {
  margin-bottom: 13px;
  float: left;
}
#to-bottom {
  position: fixed;
  top: 39vh;
  right: 29px;
  z-index: 1;

  &:after {
    display: none;
  }
}
.about-us {
  &-content {
    & .block-title {
      margin-bottom: 8px;
    }
  }

  &-text {
    padding-right: 100px;

    &-wrapper {
      margin-top: 100px;
      margin-bottom: 150px;
    }

    & p {
      letter-spacing: 0;
      line-height: 21px;

      &:not(:first-child) {
        margin-top: 21px;
      }
    }

    & a,
    & span {
      display: inline-block;
      letter-spacing: 0;
      line-height: 21px;
      text-transform: none;
    }

    & span {
      cursor: url("data:image/svg+xml,%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.86492 17.1897C4.46031 16.6503 4.05571 15.7062 3.24649 14.4924C2.84189 13.818 1.62807 12.4693 1.22346 11.9299C0.953721 11.3904 0.95372 11.1206 1.08859 10.5812C1.22346 9.77195 2.03267 9.0976 2.97675 9.0976C3.6511 9.0976 4.32544 9.63708 4.86492 10.0417C5.13466 10.3114 5.53927 10.8509 5.809 11.1206C6.07874 11.3904 6.07874 11.5252 6.34848 11.795C6.61822 12.1996 6.75309 12.4693 6.61822 11.9299C6.48335 11.2555 6.34848 10.1766 6.07874 9.0976C5.94387 8.28839 5.809 8.15352 5.67413 7.61404C5.53926 6.9397 5.4044 6.53509 5.26953 5.86075C5.13466 5.45614 4.99979 4.37719 4.86492 3.83771C4.73005 3.16337 4.73005 1.94955 5.26953 1.41007C5.67413 1.00546 6.48335 0.870596 7.02282 1.14033C7.69717 1.54494 8.10178 2.48902 8.23664 2.89363C8.50638 3.56798 8.77612 4.51206 8.91099 5.59101C9.18073 6.9397 9.58533 8.96273 9.58533 9.36734C9.58533 8.82787 9.45047 7.88378 9.58533 7.34431C9.7202 6.9397 9.98994 6.40022 10.5294 6.26535C10.934 6.13049 11.3386 6.13049 11.7432 6.13049C12.1478 6.26535 12.5525 6.53509 12.8222 6.80483C13.3617 7.61404 13.3617 9.36734 13.3617 9.23247C13.4965 8.693 13.4965 7.61404 13.7663 7.07457C13.9011 6.80483 14.4406 6.53509 14.7104 6.40022C15.115 6.26535 15.6544 6.26535 16.059 6.40022C16.3288 6.40022 16.8683 6.80483 17.0031 7.07457C17.2729 7.47918 17.4077 8.82787 17.5426 9.36734C17.5426 9.50221 17.6775 8.82786 17.9472 8.42326C18.4867 7.61404 20.3749 7.34431 20.5097 9.23247C20.5097 10.1766 20.5097 10.0417 20.5097 10.716C20.5097 11.3904 20.5097 11.795 20.5097 12.3345C20.5097 12.8739 20.3749 14.0878 20.24 14.6272C20.1051 15.0318 19.7005 15.9759 19.2959 16.5154C19.2959 16.5154 17.8123 18.1338 17.6775 18.943C17.5426 19.7523 17.5426 19.7523 17.5426 20.2917C17.5426 20.8312 17.6775 21.5055 17.6775 21.5055C17.6775 21.5055 16.5985 21.6404 16.059 21.5055C15.5196 21.3707 14.8452 20.4266 14.7104 20.022C14.4406 19.6174 14.036 19.6174 13.7663 20.022C13.4965 20.5615 12.8222 21.5055 12.2827 21.5055C11.3386 21.6404 9.45047 21.5055 8.10178 21.5055C8.10178 21.5055 8.37151 20.1569 7.83204 19.6174C7.42743 19.2128 6.75309 18.5384 6.34848 18.1338L4.86492 17.1897Z' fill='%23FBFBFB'/%3E%3Cpath d='M4.86492 17.1897C4.46031 16.6503 4.05571 15.7062 3.24649 14.4924C2.84189 13.818 1.62807 12.4693 1.22346 11.9299C0.953721 11.3904 0.95372 11.1206 1.08859 10.5812C1.22346 9.77195 2.03267 9.0976 2.97675 9.0976C3.6511 9.0976 4.32544 9.63708 4.86492 10.0417C5.13466 10.3114 5.53926 10.8509 5.809 11.1206C6.07874 11.3904 6.07874 11.5252 6.34848 11.795C6.61822 12.1996 6.75309 12.4693 6.61822 11.9299C6.48335 11.2555 6.34848 10.1766 6.07874 9.0976C5.94387 8.28839 5.809 8.15352 5.67413 7.61404C5.53926 6.9397 5.4044 6.53509 5.26953 5.86075C5.13466 5.45614 4.99979 4.37719 4.86492 3.83771C4.73005 3.16337 4.73005 1.94955 5.26953 1.41007C5.67413 1.00546 6.48335 0.870596 7.02282 1.14033C7.69717 1.54494 8.10178 2.48902 8.23664 2.89363C8.50638 3.56798 8.77612 4.51206 8.91099 5.59101C9.18073 6.9397 9.58533 8.96273 9.58533 9.36734C9.58533 8.82787 9.45047 7.88378 9.58533 7.34431C9.7202 6.9397 9.98994 6.40022 10.5294 6.26535C10.934 6.13049 11.3386 6.13049 11.7432 6.13049C12.1478 6.26535 12.5525 6.53509 12.8222 6.80483C13.3617 7.61404 13.3617 9.36734 13.3617 9.23247C13.4965 8.693 13.4965 7.61404 13.7663 7.07457C13.9011 6.80483 14.4406 6.53509 14.7104 6.40022C15.115 6.26535 15.6544 6.26535 16.059 6.40022C16.3288 6.40022 16.8683 6.80483 17.0031 7.07457C17.2729 7.47917 17.4077 8.82787 17.5426 9.36734C17.5426 9.50221 17.6775 8.82786 17.9472 8.42326C18.4867 7.61404 20.3749 7.34431 20.5097 9.23247C20.5097 10.1766 20.5097 10.0417 20.5097 10.716C20.5097 11.3904 20.5097 11.795 20.5097 12.3345C20.5097 12.8739 20.3749 14.0878 20.24 14.6272C20.1051 15.0318 19.7005 15.9759 19.2959 16.5154C19.2959 16.5154 17.8123 18.1338 17.6775 18.943C17.5426 19.7523 17.5426 19.7523 17.5426 20.2917C17.5426 20.8312 17.6775 21.5055 17.6775 21.5055C17.6775 21.5055 16.5985 21.6404 16.059 21.5055C15.5196 21.3707 14.8452 20.4266 14.7104 20.022C14.4406 19.6174 14.036 19.6174 13.7663 20.022C13.4965 20.5615 12.8222 21.5055 12.2827 21.5055C11.3386 21.6404 9.45046 21.5055 8.10178 21.5055C8.10178 21.5055 8.37151 20.1569 7.83204 19.6174C7.42743 19.2128 6.75309 18.5384 6.34848 18.1338L4.86492 17.1897Z' stroke='%23212121' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.0604 12.5005C16.3398 12.5005 16.5662 12.727 16.5662 13.0063V17.5919C16.5662 17.8712 16.3398 18.0976 16.0604 18.0976C15.7811 18.0976 15.5547 17.8712 15.5547 17.5919V13.0063C15.5547 12.727 15.7811 12.5005 16.0604 12.5005Z' fill='%23212121'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.2116 12.5008C13.4908 12.4926 13.7238 12.7122 13.732 12.9914L13.8669 17.577C13.8751 17.8562 13.6554 18.0892 13.3762 18.0974C13.097 18.1056 12.864 17.8859 12.8558 17.6067L12.7209 13.0212C12.7127 12.742 12.9324 12.509 13.2116 12.5008Z' fill='%23212121'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6659 12.5005C10.9452 12.5005 11.1717 12.727 11.1717 13.0063V17.5919C11.1717 17.8712 10.9452 18.0976 10.6659 18.0976C10.3866 18.0976 10.1602 17.8712 10.1602 17.5919V13.0063C10.1602 12.727 10.3866 12.5005 10.6659 12.5005Z' fill='%23212121'/%3E%3C/svg%3E%0A")
          2 2,
        pointer;
    }
  }

  &-list {
    margin-top: 10px;

    &-item {
      margin-bottom: 21px;
      padding-right: 100px;
      line-height: 21px;
      letter-spacing: 0;

      & > a {
        text-transform: none;
      }
    }
  }
}
.text-bottom {
  & > div {
    margin-bottom: 70px;
  }

  & .about-us-text {
    margin-top: 10px;
  }
}
.scroller {
  margin: 0 -10px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;

  &-wrapper {
    margin: 0 -28px 100px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  &-content {
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
.error {
  &-svg {
    margin-left: 1px;
    max-width: 100%;
  }

  &-title {
    margin: 199px 0 20px;
    display: block;
    font-family: $secondary-font;
    font-size: 29px;
    letter-spacing: 0;
  }
}
.back-link {
  float: left;
  letter-spacing: 0;
}
.project-img-wrapper {
  // width: 916px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  & > img {
    object-fit: cover;
    // width: 100%;
    height: 100%;
  }
}

@media (min-width: 1400px) {
  .project-item:nth-child(odd) .all-projects {
    margin-right: 7px;
  }
}

@media (max-width: 1439px) {
  .animated:not([class*='animate-']):not(.service-img-animated) {
    width: 105%;
  }
  .projects-content .project-img {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .footer {
    &-top .footer-right {
      margin-top: 16px;
    }

    &-bottom .footer-right {
      margin-top: 5px;
    }
  }
  .projects-content .project-ladder .project-block .tag-wrapper {
    height: 670px;
  }
  // .projects-content
  //   .project-ladder
  //   .project-block:nth-child(10n + 1)
  //   .tag-wrapper {
  //   width: 916px;
  //   height: 611px;
  // }
  // .projects-content
  //   .project-ladder
  //   .project-block:nth-child(10n + 2)
  //   .tag-wrapper {
  //   width: 448px;
  //   height: 670px;
  // }
  // .projects-content
  //   .project-ladder
  //   .project-block:nth-child(10n + 3)
  //   .tag-wrapper {
  //   width: 916px;
  //   height: 613px;
  // }
  // .projects-content
  //   .project-ladder
  //   .project-block:nth-child(10n + 4)
  //   .tag-wrapper {
  //   width: 448px;
  //   height: 670px;
  // }
  // .projects-content
  //   .project-ladder
  //   .project-block:nth-child(10n + 5)
  //   .tag-wrapper {
  //   width: 916px;
  //   height: 613px;
  // }
  // .projects-content
  //   .project-ladder
  //   .project-block:nth-child(10n + 6)
  //   .tag-wrapper {
  //   width: 916px;
  //   height: 610px;
  // }
  // .projects-content
  //   .project-ladder
  //   .project-block:nth-child(10n + 7)
  //   .tag-wrapper {
  //   width: 916px;
  //   height: 611px;
  // }
  // .projects-content
  //   .project-ladder
  //   .project-block:nth-child(10n + 8)
  //   .tag-wrapper {
  //   width: 448px;
  //   height: 670px;
  // }
  // .projects-content
  //   .project-ladder
  //   .project-block:nth-child(10n + 9)
  //   .tag-wrapper {
  //   width: 916px;
  //   height: 613px;
  // }
  // .projects-content
  //   .project-ladder
  //   .project-block:nth-child(10n + 10)
  //   .tag-wrapper {
  //   width: 448px;
  //   height: 671px;
  // }

  .project-block .project-img-wrapper {
    height: 670px;
  }

  // .project-block:nth-child(9n + 1) .project-img-wrapper {
  //   height: 610px;
  // }
  // .project-block:nth-child(9n + 2) .project-img-wrapper {
  //   height: 615px;
  // }
  // .project-block:nth-child(9n + 3) .project-img-wrapper {
  //   height: 610px;
  // }
  // .project-block:nth-child(9n + 4) .project-img-wrapper {
  //   height: 610px;
  // }
  // .project-block:nth-child(9n + 5) .project-img-wrapper {
  //   height: 611px;
  // }
  // .project-block:nth-child(9n + 6) .project-img-wrapper {
  //   width: 448px;
  //   height: 669px;
  // }
  // .project-block:nth-child(9n + 7) .project-img-wrapper {
  //   height: 613px;
  // }
  // .project-block:nth-child(9n + 8) .project-img-wrapper {
  //   width: 448px;
  //   height: 670px;
  // }
  // .project-block:nth-child(9n + 9) .project-img-wrapper {
  //   height: 613px;
  // }
}

@media (max-width: 1439px) and (min-width: 1200px) {
  .projects-top h1 {
    max-width: 60%;
  }
  h2 {
    font-size: 66px;
    line-height: 1;
  }
  .error-svg {
    margin-top: 45px;
    max-width: 78%;
  }
  .footer {
    &-right {
      padding-left: 0;
    }
  }
  .project-block {
    // &:nth-child(7n + 1),
    // &:nth-child(7n + 3),
    // &:nth-child(7n + 5) {
    //   & .process-desc-wrapper {
    //     margin: 0 auto 0 0;
    //     padding-right: 137px;
    //     width: 442px;
    //   }
    // }

    // &:nth-child(7n + 2),
    // &:nth-child(7n + 4),
    // &:nth-child(7n + 6) {
    //   & .process-desc-wrapper {
    //     margin-left: 137px;
    //     width: 305px;
    //   }
    // }
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .project-block {
    // &:nth-child(7n + 1),
    // &:nth-child(7n + 3),
    // &:nth-child(7n + 5) {
    //   & .process-desc-wrapper {
    //     margin: 0 auto 0 0;
    //     padding-right: 40px;
    //     width: 345px;
    //   }
    // }

    // &:nth-child(7n + 2),
    // &:nth-child(7n + 4),
    // &:nth-child(7n + 6) {
    //   & .process-desc-wrapper {
    //     margin-left: 40px;
    //     width: 305px;
    //   }
    // }
  }
}

@media (max-width: 1199px) {
  h1 {
    font-size: 95px;
  }
  .projects-top h1 {
    width: 100%;
    max-width: 65%;
  }
  .services h2 {
    font-size: 54px;
    line-height: 1;
  }
  .main {
    &-content {
      margin-top: 151px;

      &.error-content {
        margin-top: 151px;
      }
    }

    &-block {
      margin-bottom: 148px;
    }
  }
  .error-title {
    margin-top: 100px;
  }
  .services {
    margin-bottom: 0;
  }
  .project {
    &-list {
      margin-bottom: 127px;
    }

    &-item {
      &:nth-child(3n + 2) {
        padding-left: 40px;
        align-items: flex-end;
      }
      &:nth-child(3n + 3) {
        padding-right: 40px;
        align-items: flex-start;
      }
      &:not(:last-child) {
        margin-bottom: 150px;
      }
    }
  }
  .large-text {
    padding-right: 0;
    width: auto;
  }
  .service-toggler {
    font-size: 60px;

    & .animated {
      width: 100%;
      left: auto;
      top: auto;
    }
  }
  .hint {
    position: initial;
  }
  footer {
    margin-top: 139px;

    & .description {
      max-width: initial;
    }
  }
  .error-content + footer {
    margin-top: 139px;
  }
  .input-wrapper {
    width: 100%;
  }
  .about-us-content + footer {
    margin-top: 76px;
  }
  .text-bottom > div:last-child {
    margin-bottom: 0;
  }
  .footer {
    &-top {
      margin-bottom: 94px;
      flex-direction: column;
      align-items: center;

      & .footer-right {
        margin-top: 22px;
      }
    }

    &-top,
    &-bottom {
      margin-left: 0;
      margin-right: 0;
    }

    &-left {
      padding-left: 0;
      padding-right: 0;
      width: 695px;
    }

    &-right {
      padding-left: 0;
      padding-right: 0;
      width: 695px;
      justify-content: space-between;
    }

    &-items-wrapper {
      margin: 0;
      width: auto;

      &:last-child {
        margin-left: 0;
      }
    }
  }
}

@media (min-width: 992px) {
  .menu {
    justify-content: flex-end;
  }
  button.service-toggler,
  .service-desc .left {
    display: none;
  }
}

@media (max-width: 991px) {
  a.service-toggler,
  .animate-wrapper:not(.service-toggler) .animated:not([class*='animate-']) {
    display: none !important;
  }
  .logo-wrapper {
    margin: 10px 0;
  }
  #menu-toggle {
    margin-top: 17px;
  }
  .lang-item > a:after {
    display: none;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .menu {
    display: none;
    margin-top: 0;
    padding: 5px 15px;
    width: 100%;
    position: absolute;
    top: calc(100% - 4px);
    left: 0;
    background-color: $primary-background;

    &.active {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-item {
      margin: 0 0 10px;
    }
  }
  .animated[class*='animate-'] {
    display: none !important;
  }
  #menu-toggle {
    display: initial;
  }
  #lang {
    & .link-btn {
      display: none;
    }

    &-list {
      padding: 5px 0 0;
      display: initial;
      position: initial;
    }
  }
  .lang-item {
    margin-right: 22px;
    display: inline;

    &.disabled {
      display: inline;
    }
  }
  .project-item-inner {
    width: 100%;
  }
  .service {
    &-desc {
      margin: 12px 0 25px;
      padding: 0;
      position: initial;
      width: 100%;

      &-list {
        margin-bottom: 24px;
      }

      &-item {
        margin-bottom: 13px;
      }

      &-text {
        margin-bottom: 24px;
      }
    }

    &-section:not(:first-child) {
      margin-top: 42px;
    }
  }
  .sticky {
    &-wrapper:first-child {
      margin-top: 100px;
    }

    &-wrapper:not(:last-child),
    &-block {
      margin-bottom: 100px;
    }
  }
  .project-info-text {
    margin-bottom: 40px;
    max-width: initial;
  }
  .scroller-wrapper {
    margin-left: -15px;
    margin-right: -15px;
  }
  .about-us-text,
  .about-us-list-item {
    padding-right: 0;
  }
  .footer {
    &-left,
    &-right {
      width: 100%;
    }

    &-bottom {
      flex-direction: row-reverse;

      & .footer-left {
        padding-top: 4px;
        width: 20%;
        display: flex;
        justify-content: flex-end;
      }

      & .footer-right {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
  .projects-content + footer {
    margin-top: 106px;
  }
  a:not(.multi-line):after,
  .text-style:after,
  .multi-line > span > span:after {
    display: none;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .service {
    &-toggler {
      font-size: 51px;
    }

    &-desc {
      padding-top: 0;
    }
  }
  .project {
    &-info,
    &-section {
      margin-bottom: 100px;
    }
  }
  .projects-content {
    & .project {
      &-block {
        & .tag-wrapper {
          // max-width: 916px;
          width: auto;
          height: auto;
          max-height: 613px;
          overflow: hidden;

          & > img {
            object-fit: cover;
            height: 100%;
          }
        }

        &:nth-child(6n + 2),
        &:nth-child(6n + 4) {
          & .tag-wrapper {
            max-width: 448px;
            max-height: 670px;
            width: auto;
            height: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
    letter-spacing: 0;
  }
  a,
  .footer-items-wrapper {
    letter-spacing: 0;
  }
  h1 {
    margin-bottom: 12px;
    font-size: 37px;
    line-height: 47px;
    letter-spacing: -0.4px;
  }
  h2 {
    margin: 0 0 9px 0;
    font-size: 38px;
  }
  .h1 {
    left: 1px;
    letter-spacing: -0.6px;
    line-height: 48px;
  }
  #menu-toggle {
    position: relative;
    right: 0;
    bottom: 1px;
  }
  .main {
    &-content {
      margin-top: 165px;
    }

    &-block {
      margin-bottom: 44px;
    }
  }
  .main-content.error-content {
    margin-top: 97px;
  }
  .error {
    &-svg {
      margin-left: 0;
    }

    &-title {
      margin: -11px 0 19px;
      font-size: 22px;
    }
  }
  .error-content + footer {
    margin-top: 97px;
  }
  .services {
    &.main-content {
      margin-top: 163px;
    }
    & h1 {
      margin-bottom: 21px;
      left: 0;
    }

    & h2 {
      margin-bottom: 11px;
      font-size: 38px;
      letter-spacing: 0;
    }

    & .block-title {
      margin-bottom: 13px;
    }

    & .text-block p {
      margin-top: 0;
      letter-spacing: -0.02px;

      &:not(:first-child) {
        margin-top: 21px;
      }
    }
  }
  .sticky {
    &-wrapper {
      &:first-child {
        margin-top: 60px;
      }

      &:not(:last-child) {
        margin-bottom: 69px;
      }

      &:last-child {
        margin-bottom: 97px;
      }

      &:nth-child(even) {
        & .sticky-block {
          padding-left: 0;
        }

        & .service-img-wrapper {
          left: 0;
        }
      }
    }

    &-block {
      margin-bottom: 73px;
    }
  }
  .large-text {
    margin-top: 10px;
  }
  .description {
    font-size: 18px;
    line-height: 25px;
  }
  .project {
    &-list {
      margin-bottom: 67px;
    }

    &-dates {
      position: relative;
      top: -3px;
    }

    &-item {
      &:nth-child(3n + 2) {
        padding-left: 24px;
      }
      &:nth-child(3n + 3) {
        padding-right: 24px;
      }
      &:not(:last-child) {
        margin-bottom: 60px;
      }

      &-bottom {
        margin-top: 5px;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  .prject-item-link .block-title {
    max-width: 100%;
  }
  .project-about-block {
    &:nth-child(even) {
      padding-left: 6px;
    }

    & p {
      margin-top: 4px;
      letter-spacing: 0;
    }
  }
  .block-title {
    letter-spacing: 0;
    line-height: 21px;
  }
  .tag-list {
    display: none;
  }
  .projects-content {
    & .projects-top {
      margin: 165px 0 46px;
      flex-direction: column;

      & h1 {
        margin-bottom: 33px;
      }

      & .filter-list {
        margin: 0;
      }
    }
  }
  .block-title > span:after {
    display: none;
  }
  .filter-item {
    margin-bottom: 13px;
  }
  .project-info {
    margin-bottom: 36px;

    &-text .text-block {
      & p {
        margin-top: 10px;
        letter-spacing: 0;

        &:not(:first-child) {
          margin-top: 21px;
        }
      }
    }
  }
  .project-about-block {
    margin-bottom: 25px;
    padding-right: 10px;
  }
  .process-desc-wrapper {
    margin-bottom: 19px;
  }
  .animate-start {
    letter-spacing: 0;
  }
  .all-projects {
    margin-top: 60px;
  }
  .one-project .project-ladder {
    margin-bottom: 61px;
  }
  .review {
    margin-bottom: 60px;
    max-width: initial;

    & blockquote {
      margin-top: 10px;
      letter-spacing: -0.05px;
    }
  }
  .next-project {
    margin: 0 2px 14px 0;
    float: right;
  }
  .service {
    &-wrapper {
      margin-top: 41px;
      width: 100%;
    }

    &-block {
      margin-top: 19px;
    }

    &-toggler {
      font-size: 38px;

      & .animated {
        width: 107%;
      }
    }

    &-trigger-item {
      margin-bottom: 5px;

      svg {
        touch-action: none;
      }
    }

    &-img {
      &-wrapper {
        max-width: calc(100% - 89px);
        height: 352px;

        & > img {
          height: 100%;
        }
      }

      &-animated {
        top: -28px;
        left: calc(100% - 42px);
        width: 51.7%;
      }
    }
  }
  .services {
    & .text-block,
    & .large-text {
      padding-right: 0;
    }
  }
  #to-bottom {
    display: none;
  }
  .project-section {
    margin-bottom: 60px;
  }
  .project-block {
    margin-bottom: 40px;

    &:not(:first-child).new-section {
      margin-top: 62px;
    }
  }
  .one-project .project-block {
    // &:nth-child(7n + 1),
    // &:nth-child(7n + 3),
    // &:nth-child(7n + 5) {
    //   flex-direction: column;
    //   align-items: flex-end;

    //   & .process-desc-wrapper {
    //     margin: 0 0 19px 0;
    //     padding-right: 0;
    //     width: auto;
    //   }
    // }

    // &:nth-child(7n + 2),
    // &:nth-child(7n + 4),
    // &:nth-child(7n + 6) {
    //   flex-direction: column;
    //   align-items: flex-start;

    //   & .process-desc-wrapper {
    //     margin-left: 0;
    //     width: auto;
    //   }
    // }
  }
  .projects-content .project-block {
    margin-bottom: 60px;
    padding-right: 25px;

    &:nth-child(8n + 2),
    &:nth-child(8n + 5),
    &:nth-child(8n + 7),
    &:nth-child(8n + 8) + .project-block {
      padding: 0 0 0 25px;
    }
  }
  .project-ladder {
    margin-bottom: 60px;
  }
  .projects-content .project-ladder {
    margin-bottom: 98px;
  }
  .project-img {
    max-width: 100%;
    max-height: 317px;
  }
  .about-us {
    &-content {
      & .h1 {
        margin-bottom: 27px;
        left: 0;
        letter-spacing: -0.7px;
      }
    }

    &-text {
      &-wrapper {
        margin: 42px 0 59px;
      }

      & p {
        letter-spacing: -0.05px;
        line-height: 21px;
      }
    }

    &-list-item {
      letter-spacing: -0.05px;

      & > a {
        letter-spacing: -0.05px;
      }
    }
  }
  .scroller {
    &-wrapper {
      margin-bottom: 61px;
    }

    &-content {
      max-height: 230px;
    }
  }
  .text-bottom {
    position: relative;
    left: -1px;

    & > div {
      margin-bottom: 40px;
    }
  }
  .animate-wrapper:not(.service-toggler) svg {
    visibility: hidden;
  }
  footer {
    margin-top: 83px;
  }
  .footer {
    &-right {
      padding-right: 2px;
    }

    &-top {
      margin-bottom: 164px;
    }
  }
  .input {
    &-wrapper {
      margin-top: 10px;
    }
  }
  .contact {
    &-input {
      padding: 25px 140px 23px 13px;
    }

    &-submit {
      padding: 0 16px 0 0;
      height: 70px;
      line-height: 1;
    }
  }
  .projects-content {
    & .project {
      &-block {
        & .tag-wrapper {
          width: 320px;
          height: 213px;
          overflow: hidden;
          display: flex;
          justify-content: center;

          & > img {
            // object-fit: cover;
            width: auto;
            max-width: none;
            height: 100%;
          }
        }

        &:nth-child(6n + 2),
        &:nth-child(6n + 4) {
          & .tag-wrapper {
            max-width: 213px;
            max-height: 317px;
            width: auto;
            height: auto;
          }
        }
      }
    }
  }
  .project {
    &-item {
      & .project-item-inner .tag-wrapper {
        height: 206px;
        overflow: hidden;
      }

      &:nth-child(4n + 2),
      &:nth-child(4n + 3) {
        & .project-item-inner .tag-wrapper {
          height: 191px;
        }
      }
    }
  }
  .projects-content .project-ladder .project-block:nth-child(10n + 1) .tag-wrapper {
    height: 213px;
  }
  .projects-content .project-ladder .project-block:nth-child(10n + 2) .tag-wrapper {
    width: 213px;
    height: 317px;
  }
  .projects-content .project-ladder .project-block:nth-child(10n + 3) .tag-wrapper {
    height: 214px;
  }
  .projects-content .project-ladder .project-block:nth-child(10n + 4) .tag-wrapper {
    width: 213px;
    height: 317px;
  }
  .projects-content .project-ladder .project-block:nth-child(10n + 5) .tag-wrapper {
    height: 214px;
  }
  .projects-content .project-ladder .project-block:nth-child(10n + 6) .tag-wrapper {
    height: 214px;
  }
  .projects-content .project-ladder .project-block:nth-child(10n + 7) .tag-wrapper {
    height: 214px;
  }
  .projects-content .project-ladder .project-block:nth-child(10n + 8) .tag-wrapper {
    width: 213px;
    height: 317px;
  }
  .projects-content .project-ladder .project-block:nth-child(10n + 9) .tag-wrapper {
    height: 214px;
  }
  .projects-content .project-ladder .project-block:nth-child(10n + 10) .tag-wrapper {
    width: 213px;
    height: 317px;
  }
  .project-block:nth-child(9n + 1) .project-img-wrapper {
    width: 100%;
    max-width: none;
    height: auto;
  }
  .project-block:nth-child(9n + 2) .project-img-wrapper {
    width: 100%;
    max-width: none;
    height: auto;
  }
  .project-block:nth-child(9n + 3) .project-img-wrapper {
    width: 100%;
    max-width: none;
    height: auto;
  }
  .project-block:nth-child(9n + 4) .project-img-wrapper {
    width: 100%;
    max-width: none;
    height: auto;
  }
  .project-block:nth-child(9n + 5) .project-img-wrapper {
    width: 100%;
    max-width: none;
    height: auto;
  }
  .project-block:nth-child(9n + 6) .project-img-wrapper {
    width: 100%;
    height: auto;
  }
  .project-block:nth-child(9n + 7) .project-img-wrapper {
    width: 100%;
    max-width: none;
    height: auto;
  }
  .project-block:nth-child(9n + 8) .project-img-wrapper {
    width: 100%;
    height: auto;
  }
  .project-block:nth-child(9n + 9) .project-img-wrapper {
    width: 100%;
    max-width: none;
    height: auto;
  }
  .one-project .project-img {
    max-width: none;
    max-height: none;
    width: 100%;
    height: auto;
  }
  .project-item .project-item-inner .tag-wrapper > img {
    height: auto;
  }
}
@media (max-width: 375px) {
  .project-item .project-item-inner .tag-wrapper > img {
    height: 100%;
  }
}
@media (max-width: 374px) {
  h1 {
    font-size: 39px;
  }
  .service-toggler {
    font-size: 30px;
  }
  .service-img-animated {
    top: -58px;
  }
  .tag {
    &-list {
      left: 6px;
    }

    &-item {
      font-size: 8px;
    }
  }
  .projects-content {
    & .project {
      &-block {
        padding-right: 0;

        & .tag-wrapper {
          width: 290px;
          height: 213px;
          overflow: hidden;

          & > img {
            object-fit: cover;
            height: 100%;
          }
        }

        &:nth-child(6n + 2),
        &:nth-child(6n + 4) {
          & .tag-wrapper {
            max-width: 290px;
            max-height: 317px;
            width: auto;
            height: auto;
          }
        }
      }
    }
  }
}

.slick-slider {
  margin-bottom: 100px;
  padding: 0 95px;

  @media (max-width: 767px) {
    margin-bottom: 40px;
    padding: 0 25px;
  }

  .slick-arrow {
    padding: 0;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    z-index: 1;

    @media (max-width: 1199px) and (min-width: 768px) {
      width: 50px;
    }

    @media (max-width: 767px) {
      width: 15px;
    }
  }

  .slick-prev {
    left: 0;
  }

  .slick-arrow {
    right: 0;
  }

  @media (min-width: 1200px) {
    img {
      height: 670px;
    }
  }

  @media (max-width: 767px) {
    img {
      height: 229px;
    }
  }
}

// .plyr {
//   height: 100%;
// }

// .plyr video, .plyr audio, .plyr iframe {
//   margin: 0 auto;
//   width: auto !important;

//   @media (max-width: 1199px) {
//     max-width: 100%;
//     max-height: 400px;
//     height: auto !important;
//   }
// }

.iframe {
  height: auto !important;
}